#Mode {
  font-family: "Space Mono";
  width: 327px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  gap: 6.875rem;
  margin-top: 1.94rem;
}
#title {
  color: #fff;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#Mode-Btn {
  background-color: #141d2f;
  width: 5.5rem;
  display: flex;
  height: 2.35rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  cursor: pointer;

  color: #fff;
  text-align: right;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15625rem;
}
.mode-icon-sun:hover path {
  fill: #90a4d4;
}
.mode-icon-moon:hover path {
  fill: #222731;
}
#Mode-Btn:hover {
  color: #90a4d4;
}
.light-mode #Mode-Btn {
  background-color: #f6f8ff;
  color: #4b6a9b;
}
.light-mode #title {
  color: #222731;
}
.light-mode #Mode-Btn:hover {
  color: #222731;
}
.light-mode {
  background-color: #f6f8ff;
}

@media screen and (min-width: 900px) {
  #Mode {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32.75rem;
  }
}
