@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
body {
  width: 100vw;
  height: 100vh;
  background-color: #141d2f;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
p,
input,
button,
img,
body {
  margin: 0;
  padding: 0;
}
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 48.5625rem;
  width: 23.4375rem;
  justify-content: center;
}
.error-p {
  margin-top: 2rem;
  color: #f74646;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 900px) {
  .App {
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }
  .error-p {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
